<div class="row">

    <div class="col-md-9">
        <h1 class="display-4">Willkommen auf Aktienmathematik.de</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">Hallo "{{ account.login }}"!</span>
            </div>
        </div>

        <p class="lead">Erstellen Sie eine Visualisierung.</p>

        <div>
            <div>
                <div style="display: block">
                    <canvas baseChart
                            [datasets]="scatterChartData"
                            [options]="scatterChartOptions"
                            [labels]="scatterChartLabels"
                            [chartType]="scatterChartType">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
</div>
